/* @import './markdown.css'; */

:root {
  --primary: teal;
  --primary-active: teal;
  --btn-disabled: #888;
  --bg: #FFF;
  --bg-back: #E7EAED;
  --bg-input: #FFFFFF80;
}

html.dark:root {
  --primary: teal;
  --primary-active: teal;
  --btn-disabled: #888;
  --bg: #35363A;
  --bg-back: #202124;
  --bg-input: #35363A80;
}

/* * {
  border: 1px dotted #888
} */

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea {
  @apply rounded;
  padding: 0.25em;
  background: var(--bg-input);
  border: 1px solid var(--bg);
}

.btn {
  color: #FFF;
  background-color: var(--primary)
}

.btn:hover, .btn:active {
  background-color: var(--primary-active)
}

.btn:disabled {
  background-color: var(--btn-disabled)
}

.link {
  color: var(--primary);
  text-decoration: underline var(--primary);
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: var(--bg-back);
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--primary-color);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
