/* @import './markdown.css'; */

:root {
  --primary: #00A0A0;
  --primary-active: #008080;
  --danger: #F87171;
  --danger-active: #FF5151;
  --btn-disabled: #888;
  --bg: #FFF;
  --bg-back: #E7EAED;
  --border-input: #F3F5F6;
}

html.dark:root {
  --primary: #008080;
  --primary-active: #007070;
  --danger: #F87171;
  --danger-active: #FF5151;
  --btn-disabled: #888;
  --bg: #35363A;
  --bg-back: #202124;
  --border-input: #2B2C2F;
}

/* * {
  border: 1px dotted #888
} */

.block {
  @apply rounded;
  background: var(--bg);
  padding: 1em;
}

.btn {
  color: #FFF;
  max-width: 300px;
  background-color: var(--primary);
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.btn:hover,
.btn:active {
  background-color: var(--primary-active);
}

.btn:disabled {
  background-color: var(--btn-disabled);
}

.btn.danger {
  background-color: var(--danger);
}

.btn.danger:hover,
.btn.danger:active {
  background-color: var(--danger-active);
}

.btn.secondary {
  background-color: #00000000;
  border: 2px var(--primary) solid;
}

:not(.dark) .btn.secondary {
  color: #000
}

.dark .btn.secondary {
  color: #FFF
}

.btn.secondary:hover,
.btn.secondary:active {
  background-color: none;
  border: 2px var(--primary-active) solid;
}

.link {
  color: var(--primary);
  text-decoration: underline var(--primary);
}

.link:hover,
.link:active {
  color: var(--primary-active);
  text-decoration: underline var(--primary-active);
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: var(--bg-back);
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--primary-color);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
